 @import '../../../../sass/conf';
 
 .btn:hover .btn:focus {
  color: #1361b1 !important;
}
.searchformtop {
        input {
            border: 2px solid $primary-color; color: #adadad; font-family: $font-family; font-size: 14px;
            margin-top: 0;outline: medium none;padding: 7px; width: 100%; height: 38px;
        }

    button{
      background: $primary-color; border: medium none; border-radius: 0;margin-left: -5px; margin-top: 0px;padding: 8px 8px;
        i{
          color: $primary-font-color;font-size: 20px;
        }
    }
    span{
      color: $primary-font-color; padding: 0 5px;
    }
    btn{
      &:hover,&.focus{
        background-color:$secondary-color;color: $primary-font-color !important;
      }
    }
}

.searchform   btn:focus{background-color: $secondary-color;color: $primary-font-color !important;}

@supports (-webkit-appearance:none) {

  #search-box input[type="text"] {
    width: 100%;
    padding: 7px 0 7px 1em;
    color: #000;
    outline: none;
    border: 2px solid rgba(19, 97, 177, 0.25);

  }
}

_:-moz-tree-row(hover), #search-box input[type="text"] {
  width: 100%;
  padding: 8px 0 9px 1em;
  color: #000;
  outline: none;
  border: 2px solid rgba(19, 97, 177, 0.25);

 // border: none;
}

#search-box {
  width: 600px;
  display: block;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 0;
  

}

@supports (-webkit-appearance:none) {
  #search-box-h input[type="text"] {
    width: 100%;
    padding: 7px 0 7px 1em;
    color: #000;
    outline: none;
    border: 2px solid rgba(19, 97, 177, 0.25);
}
}
_:-moz-tree-row(hover),
#search-box-h input[type="text"] {
  width: 100%;
  padding: 8px 0 9px 1em;
  color: #000;
  outline: none;
  border: 2px solid rgba(19, 97, 177, 0.25);
}


#search-box-h {
  height: 20px;
  width: 600px;
  display: block;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;

  z-index: 0;

}

#search-form {
    height: 40px;
    border: 2px solid $border-color;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: $primary-font-color;
    overflow: hidden;
}


#search-text {
font-size: 14px;
color: $primary-font-color;
border-width: 0;
background: transparent;
}

// #search-box input[type="text"]{
// width: 90%;
// padding: 8px 0 9px 1em;
// color: #000;
// outline: none;
//  border:none;
// }

#search-button-h {position: absolute;
//top: 20px;
top: 0;
right: 0;
height: 40px;
width: 80px;
font-size: 14px;
color: $primary-font-color;
text-align: center;
line-height: 41px;
border-width: 0;
background-color:$primary-color;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
cursor: pointer;
}

#search-button {position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 80px;
  font-size: 14px;
  color: $primary-font-color;
  text-align: center;
  line-height: 41px;
  border-width: 0;
  background-color:$primary-color;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  cursor: pointer;
  }

  #search-filter-h {position: absolute;
    top: 0;
    right: 100%;
    height: 40px;
    width: 80px;
    font-size: 14px;
    color: $primary-font-color;
    text-align: center;
    line-height: 41px;
    border-width: 0;
    background-color:$primary-color;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    }
    
    #search-filter {position: absolute;
      top: 0;
      right: 100%;
      height: 40px;
      width: 80px;
      font-size: 14px;
      color: $primary-font-color;
      text-align: center;
      line-height: 41px;
      border-width: 0;
      background-color:$primary-color;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      cursor: pointer;
      }

.search-margin{
  margin-top: 0px;
}
.search-nomargin{
  margin-top: 0px;
}