.paynow{
    border: 1px solid #1361b1;
    padding: 4px!important;
    border-radius: 14px!important;
    background: #1361b1!important;
    color: white!important;
    font-size: 11px!important;
    cursor: pointer;
}
.cancel-btn{
    border: 1px solid #b11313;
    padding: 4px!important;
    border-radius: 14px!important;
    background: #b11313!important;
    color: white!important;
    font-size: 11px!important;
    cursor: pointer;
    float: right;
}

.alert-danger {
    background-color: #fbeeed;
    border-color: #f7d8dd;
    color: #d9534f;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.margin-bottom-lg{
    margin-bottom: 22px !important;
    margin-top: 10px !important;
}



.purchase-query
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.purchase-query .purchase-query-heading, .purchase-query .checkbox
{
    margin-bottom: 10px;
}
.purchase-query .checkbox
{
    font-weight: normal;
}
.purchase-query .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.purchase-query .form-control:focus
{
    z-index: 2;
}
.purchase-query input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.purchase-query input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
    padding: 3%!important;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.book_name{
    padding-top: 3px !important;
    padding-bottom: 3px !important; 
    white-space: normal !important; 
    overflow: hidden !important;  
    text-overflow: ellipsis !important;  
    min-width: 200px !important; 
    max-width: 200px !important;
    cursor: pointer;
}
.book_total_price{
    color:green !important;
    min-width: 200px !important; 
    float: right !important; 
    text-align: right !important;  
    white-space: nowrap !important;
}
.book-total{
    width: 250px !important;
}

.book-total h6 span{
    float: right !important;
}

.cancel-btn .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #fff;
    color:  black;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    top: 17%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.cancel-btn:hover .tooltiptext {
    visibility: visible;
}