<section class="testimonial-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td width="5%"> </td>
                                <td class="image" width="13%"></td>
                                <td class="quantity" width="20%">Speech</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let testimonial of testimonials; let i=index">
                                <td class="item-no"> {{i+1}} </td>
                                <td class="cart_product">
                                    <img class="img-circle img-responsive" src="{{testimonial.image}}" alt="" /> <br>
                                    <h4> {{testimonial.name}} </h4>
                                    <h5>{{testimonial.speech_at | date: 'dd MMM-yyyy'}}</h5>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <p style="font-size: large;">
                                            {{testimonial.speech}}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="view_more">
                    <nav aria-label="Page navigation">
                        <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [rotate]="false"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" class="pagination-sm"
                            [boundaryLinks]="true" (click)="setPage()">
                        </pagination>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>