// table tbody tr td img{ width: 50px; height: 48px;border-radius: 57%; border-style: none;}
.total-price {
    float: right;
    margin-right: 12%;
}

table {
    width: 100%;
}

h5 {
    text-align: left !important;
}

.available {
    background: #5cb85c;
    color: white;
}

.not-available {
    background: #e9edf0;
    color: #000;
}

.custom-image-size {
    margin-left: 20px !important;
    width: 50% !important;
}

.status span {
    display: inline-block;
    font-weight: normal;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.status div {
    width: 100% !important;
    overflow: hidden;
    width: 100% !important;
    display: inline-block;
    font-weight: normal;
    text-align: justify!important;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 2px!important;
    font-size: 16px;
    margin-bottom: 7px;
    max-height: 40px;
    min-width: unset !important;
}

.ages {
    button {
        margin-left: 10px;
        margin-bottom: 2px;
    }
}

.badge {
    display: inline-block;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #2e368f;
    text-align: center;
    white-space: nowrap;
    float: right !important;
    background-color: #eee;
    border-radius: 10px;
}

table tbody tr td {
    border-top: none !important;
}

.btn_size {
    min-width: 150px;
    max-width: 180px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.col-sm-12 div {
    padding: 5px;
}

.box-body {
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.copy-for {
    text-align: center !important;
    font-size: 11px !important;
}

.vl {
    border-left: 1px solid;
    height: 50px;
}

.t111 {
    width: 12% !important;
}

.logo-image img {
    width: 80% !important;
    height: auto !important;
    border-radius: 0% !important;
}

.t113 {
    line-height: 5px;
}

.t113 p {
    font-size: 12px;
}

.t114 {
    text-align: right;
    line-height: 5px;
}

.t114 p {
    font-size: 12px;
}

.order-details {
    width: 33%
}

.qr-code {
    width: 33%
}

.delivery-details {
    width: 34%
}

.main-info {
    background: #eceeefc9;
}

.t2h {
    font-weight: 600;
    width: 17%;
    font-size: 12px;
}

.t2c {
    width: 1%;
    font-size: 12px;
}

.t2i {
    width: 82%;
    font-size: 12px;
}

.product-table {
    width: 100%;
}

.item-head {
    background: #eceeefc9;
}

.item-head tr th {
    padding: 4px;
    font-size: 12px;
}

.ih0 {
    width: 1%;
}

.ih1 {
    width: 50%;
}

.ihp {
    width: 29%;
}

.ih2 {
    width: 5%;
}

.ih3 {
    width: 5%;
}

.ih4 {
    width: 5%;
}

.item-body tr td {
    font-size: 12px;
    border-bottom: 1px dotted #808075;
}

.id0 {
    text-align: left;
}

.id0 {
    text-align: left;
}

.id1 {
    text-align: left;
}

.idp {
    text-align: left;
}

.id2 {
    text-align: center;
}

.id3 {
    text-align: center;
}

.id4 {
    text-align: center;
}

.summary-table {
    width: 100%;
}

.si0 {
    width: 35%;
}

.si1 {
    width: 35%;
}

.si2 {
    width: 30%;
}

.summary-data {
    width: 100%;
}

.summary-data tbody tr td {
    font-size: 12px;
    border-bottom: 1px dotted #808075;
}

.sd0 {
    width: 69%;
}

.sd1 {
    width: 1%;
}

.sd2 {
    width: 30%;
    text-align: right;
}

.decliration01 {
    line-height: 8px;
    margin-bottom: -60px;
}

.decliration02 {
    line-height: 8px;
    margin-bottom: -60px;
}