<div class="widgets">
    <div class="row">
        <div class="col-md-6">
            <ba-card title="Edit Offer" baCardClass="with-scroll">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" [(ngModel)]="currentOffer.name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input name="code" type="text" class="form-control" [(ngModel)]="currentOffer.code" placeholder="Code">
                    </div>
                    <div class="form-group">
                        <label for="locale">Locale</label>
                        <input name="locale" type="text" class="form-control" [(ngModel)]="currentOffer.locale" placeholder="Locale">
                    </div>
                    <div class="form-group">
                        <label for="order">Order</label>
                        <input name="order" type="tel" class="form-control" [(ngModel)]="currentOffer.order" placeholder="Order">
                    </div>
                    <div class="form-group">
                        <label for="is_enabled">Active</label>
                        <ui-switch name="is_enabled" class="form-control" [(ngModel)]="currentOffer.is_enabled"></ui-switch>
                    </div>
                    <button type="submit" class="btn btn-warning" (click)="editOffer()">Edit Offer</button>
                </form>
            </ba-card>
        </div>
    </div>
</div>