td.inshipmentable {
    background: #5cb85c;
    color: black;
    font-size: 17px;
}

.partial-inshipmentable {
    background: #e7f712;
    color: black;
    font-size: 17px;
}

.not-inshipmentable {
    background: red;
    color: black;
    font-size: 17px;
}

.carrier-style{
    padding: 4px;
    background: honeydew;
    color: black;
    font-size: 17px;
    font-family: cursive;
}

.date-picker{
    float: left;
    max-width: 220px;
    margin-bottom: 15px;
    border-color: #26c6da;
  }

.range-calender{
    font-size: 31px !important;
    margin-left: -31px !important;
    color: #26c6da;
    cursor: pointer;
  }

//Start

.copy-for{
    text-align: center !important;
    font-size: 11px !important;
}

.vl {
    border-left: 1px solid;
    height: 50px;
}

.t111{
    width: 12% !important;
}

.logo-image img{
    width: 80% !important;
    height: auto !important ;
    border-radius: 0% !important;
}

.t113{
    line-height: 5px;
}

.t113 p{
    font-size: 12px;
}


.t114{
    text-align: right;
    line-height: 5px;
}

.t114 p{
    font-size: 12px;
}

.order-details{
    width: 33%
}

.qr-code{
    width: 33%
}

.delivery-details{
    width: 34%
}

.main-info{
    background: #eceeefc9;
}

.t2h{
    font-weight: 600;
    width: 17%;
    font-size: 12px;
}

.t2c{
    width: 1%;
    font-size: 12px;
}

.t2i{
    width: 82%;
    font-size: 12px;
}

.product-table{
    width: 100%;
}

.item-head{
    background: #eceeefc9;
}

.item-head tr th{
    padding: 4px;
    font-size: 12px;
}

.ih0{
    width: 1%;
}

.ih1{
    text-align: left;
    width: 79%;
}

.ihp{
    text-align: left;
}

.ih2{
    width: 5%;
}

.ih3{
    width: 5%;
}

.ih4{
    width: 5%;
}

.item-body tr td{
    font-size: 12px;
    border-bottom: 1px dotted #808075;
}

.id0{
    text-align: left;
}

.id0{
    text-align: left;
}

.id1{
    text-align: left;
}

.id2{
    text-align: center;
}

.id3{
    text-align: center;
}

.id4{
    text-align: center;
}

.summary-table{
    width: 100%;
}

.si0{
    width: 35%;
}

.si1{
    width: 35%;
}

.si2{
    width: 30%;
}

.summary-data{
    width: 100%;
}

.summary-data tbody tr td{
   font-size: 12px;
   border-bottom: 1px dotted #808075;
}

.sd0{
    width: 69%;
}

.sd1{
    width: 1%;
}

.sd2{
    width: 30%;
    text-align: right;
}

.decliration01{
    line-height: 8px;
    margin-bottom: -60px;
}

.decliration02{
    line-height: 8px;
    margin-bottom: -60px;
}