.help-block {
  color: red;
}

.has-error {
  color: red;
}

.has-success {
  color: #a0ce4e;
}

.change-ico {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: x-large;
}

.book-url {
  float: right;
  position: fixed;
  top: 52.2%;
  right: 3.4%;
}
