<section>
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <form class="password-reset" (ngSubmit)="updatePassword()">
                    <h2 class="password-reset-heading"> {{'password_reset' | translate}}</h2>
                    <input type="password" class="form-control" name="reset.password" (focus)="reset.repeatPassword=''; valid=false" [(ngModel)]="reset.password" placeholder="Password" required="" autofocus="" />
                    <span *ngIf="reset.password && reset.password.length<6" style="color:red">{{'password_length_error' | translate}}</span>
                    <br>
                    <input type="password" class="form-control" name="repeatPassword" [(ngModel)]="reset.repeatPassword" (ngModelChange)="validate(reset)" placeholder="Retype Password" required="" autofocus="" />
                    <span *ngIf="reset.repeatPassword && !valid" style="color:red">{{'password_match' | translate}}</span>
                    <br><br>
                    <button class="btn btn-lg btn-primary btn-block" [disabled]="!valid || res_pending" type="submit">{{'submit' | translate}}</button>
                    <spinner *ngIf="res_pending" [tickness]="1" [size]="20"></spinner>
                </form>
            </div>
        </div>
    </div>
</section>