// .typeahead-ul ul{ display: block;top: 64%;left: 0%; width: 30%;padding-top: 0;}
.typeahead-ul ul{ display: block;left: 0%; width: 30%;padding-top: 0; top: 100px;}

.typeahead-ul-h ul{ display: block;left: 0%; width: 30%;padding-top: 0; top: 100px;}

.dropdown-menu{ min-width: 555px !important; }
.star-ratings-css[_ngcontent-gne-24]{ font-size: 14px !important;}
.padding-remove{ padding-left: 5px; padding-right: 5px;}
.type-head-image li{ border-bottom: 1px solid #1361b1;font-size: 13px; margin-left: 8px; margin-right: 8px; cursor: pointer;}
.type-head-image li:last-child { border-bottom: none;}
.type-head-image img{border: 1px solid #1361b1; display: block; height: 42px; width: 33px;}
.type_head_drop{ height: 400px; overflow:scroll;
    margin: 0% auto !important;
    left: -45px !important;
    right: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 10px -1px !important;
    border-bottom: unset !important;
    border-radius: 0px 0px 10px 10px !important;}

.type-head-padding{padding-top: 6px; padding-bottom: 4px;}
.result-name{ font-size: 13px; color:#191212;}
.author-name-title{font-size: 10px; color:#747474; padding-top: 4px;}
.typeahead-hover{border-bottom: 1px solid #1361b1;font-size: 13px; margin-left: 8px; margin-right: 8px; cursor: pointer;}
.typeahead-hover:hover{ background: #a8c9ff;  }