<section>
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <form class="password-reset" (ngSubmit)="sendEmail(email)">
                    <h2 class="password-reset-heading">{{'enter_email' | translate}}</h2>
                    <input type="text" class="form-control" name="username" [(ngModel)]="email" (ngModelChange)="validate(email)" placeholder="Email Address" required="" autofocus="" />
                    <span *ngIf="!valid" style="color:red">{{'invalid_email' | translate}}</span>
                    <br><br>
                    <spinner *ngIf="res_pending" [tickness]="1" [size]="20"></spinner>
                    <button class="btn btn-lg btn-primary btn-block" [disabled]="!email || !valid || res_pending" type="submit">{{'submit' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</section>