.author_img { 
    width:100%;
}

.author_img img {
    display: block; 
    display: block;
    margin-left: 7%; 
    margin-right: 0px; 
    width: 61%;
}

.list-inline li {
    margin-bottom: 2px; 
    float: left;
}

.titile_author { 
    font-size: 15px; 
    padding:1px 0;
}