<section class="margintop30 marginbottm30">
    <div class="container busy-loading">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <div class="alert alert-danger text-lg">
                        <i class="fa fa-meh-o" aria-hidden="true"> </i>
                        <span class="margin-top margin-bottom-lg">&nbsp;&nbsp;Oops! No result found your query.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>