@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);

$font-family: 'Roboto', sans-serif;

$primary-color:#1361b1;//:#282f70;
$primary-color-light:#a8c9ff;

$secondary-color:#1361b1; 
$secondary-color-light:#a8c9ff; 

$primary-font-color:#fff;
$primary-hover:#a8c9ff;


$primary-hover-color:#a8c9ff;
$secondary-hover-color: #fff;


$product-bg-color:#ececec;
$testmonials-bg-color: #ebebeb;


$btn-custom-success:#a8c9ff;
$border-color:#1361b1;
$border-color-light:#a8c9ff;
$p-color-primary:#929292;
$disable-color:#a8c9ff;

$footer-bg-color:#ebebeb;
$footer-border-color:#1361b1;
$footer-font-color:#a8c9ff;


$sign-button-bg:#1361b1;
$sign-button-color-hover:#1361b1;



$btn-font-color:#fff;
$btn-border-color:#adadad;
$btn-hover-bg:#ebebeb;
$btn-hover-color:#a8c9ff;


$facebook-color: #3b5998;
$facebook-color-hover: #2d4373;
$facebook-active-bg:#23345a;

$twitter-color: #55acee;
$twitter-focus:#2795e9;
$twitter-focus-bg:#1583d7;

$google-color: #dd4b39;
$google-focus: #c23321;
$google-focus-bg: #a32b1c;


$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;





$margin-top-ex-lg: 30px;
$margin-bottom-ex-lg:30px;
$margin-top-lg: 20px;
$margin-bottom-lg: 20px;
$margin-top-md: 15px;
$margin-bottom-md:15px;
$margin-top-sm: 10px;
$margin-bottom-sm: 10px;

$padding-top-ex-lg: 30px;
$padding-bottom-ex-lg: 30px;
$padding-top-lg: 20px;
$padding-bottom-lg: 20px;
$padding-top-sm: 10px;
$padding-bottom-sm: 10px;




$MediaJx1920: 1920px; 
$MediaJx1280: 1280px;
$MediaJx1200: 1200px;
$MediaJx990: 990px;
$MediaJx768: 768px;
$MediaJx700: 700px;
$MediaJx650: 650px;
$MediaJx600: 600px;
$MediaJx550: 550px;
$MediaJx450: 450px;
$MediaJx320: 320px;


