<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <ba-card title="Purchase Entry" baCardClass="with-scroll">
                <div class="form-group row">
                    <label for="voucher_no" class="col-sm-2 control-label">Purchase Order</label>
                    <div class="col-sm-6">
                        <input type="text" name="voucher_no" [(ngModel)]="accept.voucher_no" (keyup.enter)="getPurOrder($event.target.value)" class="form-control" id="voucher" placeholder="Purchase Order">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-sm-2 control-label">Purchase Date</label>
                    <div class="col-sm-6">
                        <aro-datepicker name="date" (dateLoader)="getDate($event)" [aroModel]="purchase_date">
                        </aro-datepicker>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="purchase_mode" class="col-sm-2 control-label">Puchased Mode</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="purchase_mode" id="purchase_mode" [(ngModel)]="accept.purchase_mode" required>
                            <option *ngFor="let mode of purcahse_modes" [value]="mode.name">
                                {{mode.name}}
                            </option>
                        </select>
                        <span *ngIf="(!accept.purchase_mode && isSubmitted)" style="color: red">Purchase mood is
                            required</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="courier_charge" class="col-sm-2 control-label">Courier Charge</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="courier_charge" [(ngModel)]="accept.courier_charge">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="convenience" class="col-sm-2 control-label">Convenience</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" name="convenience" [(ngModel)]="accept.convenience">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div *ngFor="let alert of alerts">
                            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="new_pruchase_items.length>0 && isFinishItemAdd">
                    <div class="col-lg-12 col-md-12">
                        <div baCardBlur class="animated fadeIn card with-scroll" zoom-in>
                            <div class="card-header clearfix">
                                <div class="card-title">
                                    Purchase Items
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="horizontal-scroll">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="black-muted-bg">
                                                <th class="table-id">#</th>
                                                <th>Name</th>
                                                <th>Author</th>
                                                <th>Publisher</th>
                                                <th>Required Qty</th>
                                                <th>Purchase Qty</th>
                                                <th>Rate</th>
                                                <th>Price</th>
                                                <th>Weight(gm)</th>
                                                <th>Supplier</th>
                                                <th colspan="2">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item  of new_pruchase_items; let i=index">
                                                <td>{{i + 1}}</td>
                                                <td>{{item.product_name}}</td>
                                                <td>{{item.author}}</td>
                                                <td>{{item.publisher}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td *ngIf="!item.is_already_purchased">
                                                    <input type="number" name="aty" class="form-control" [(ngModel)]="item.pur_quantity" (ngModelChange)="changeItemvalue()">
                                                </td>
                                                <td *ngIf="item.is_already_purchased">
                                                    Already Purchased
                                                </td>
                                                <td>
                                                    <input [disabled]="item.is_already_purchased" type="number" name="rate" class="form-control" [(ngModel)]="item.rate" (ngModelChange)="changeItemvalue()">
                                                </td>
                                                <td>
                                                    {{item.price}}
                                                </td>
                                                <td>
                                                    <input [disabled]="item.is_already_purchased" type="number" name="rate" class="form-control" [(ngModel)]="item.weight">
                                                </td>
                                                <td>
                                                    <p>{{item.supplier_name? item.supplier_name: "Not Specified"}}</p>
                                                </td>
                                                <td>
                                                    <button [disabled]="item.is_already_purchased" *ngIf="item.supplier_name" (click)="addSupp(item, i)" class="btn btn-default">Change
                                                        Supplier</button>
                                                    <button [disabled]="item.is_already_purchased" *ngIf="!item.supplier_name" (click)="addSupp(item, i)" class="btn btn-default">Add Supplier</button>
                                                </td>
                                                <td>
                                                    <i class="fa fa-external-link pi_action" (click)="onActionClick(item)"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="7"></td>
                                                <td colspan="3" style="text-align:right">Summary: {{summary}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="remark" class="col-sm-2 control-label">Remark</label>
                    <div class="col-sm-6">
                        <textarea type="text" name="remark" [(ngModel)]="accept.remark" class="form-control" id="name" placeholder="Remark"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button [disabled]="res_pending" (click)="acceptPurchase()" class="btn btn-warning">Save</button>
                        <spinner *ngIf="res_pending" [tickness]="1" [size]="20"></spinner>
                    </div>
                    <div class="col-sm-6">
                        <a (click)="back()" style="text-align: right; display: block; padding-top: 11px;">
                            <i class="fa fa-reply"></i> Back To List </a>
                    </div>
                </div>
            </ba-card>
        </div>
    </div>
</div>


<div bsModal #invoiceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="catDeleteModalLabel" aria-hidden="true" (onShow)="handler('onShow1', $event)" (onShown)="handler('onShown2', $event)" (onHide)="handler('onHide1', $event)"
    (onHidden)="handler('onHidden2', $event)">
    <div class="modal-dialog modal-sz">
        <div class="modal-content" *ngIf="purchaseInfo">
            <div id="print-section">
                <div class="modal-header">
                    <button class="close" aria-label="Close" (click)="cancel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row report_header">
                        <div class="col-md-12">
                            <table width="100%">
                                <tr>
                                    <td width="50%">
                                        <img class='custom-image-size1' src="/assets/icon/boibazar-logo-color.png" alt="logo">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h3 align="center">Purchase Invoice</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table-print">
                                <tr>
                                    <td class="payment-head-content">
                                        <p>Purchase No.: {{purchaseInfo.purchase_no}}</p>
                                        <p *ngIf="purchaseInfo.order_no">
                                            Order No.: {{purchaseInfo.order_no}}
                                        </p>
                                        <p>Purchase Mode: {{purchaseInfo.purchase_mode}}</p>
                                        <p>Date: {{purchaseInfo.purchase_date | date: 'dd MMM-yyyy'}}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="widgets">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card-header clearfix">
                                    <div class="card-title">
                                        Purchase Items
                                    </div>
                                </div>
                                <div class="horizontal-scroll">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="black-muted-bg">
                                                <th class="table-id">#</th>
                                                <th>Product Name</th>
                                                <th>Author</th>
                                                <th>Publisher</th>
                                                <th>Quantity</th>
                                                <th>Rate</th>
                                                <th>Total Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item  of final_purchase_items; let i=index">
                                                <td>{{i + 1}}</td>
                                                <td>{{item.product_name}}</td>
                                                <td>{{item.author}}</td>
                                                <td>{{item.publisher}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td>{{item.rate}}</td>
                                                <td>{{item.quantity * item.rate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="15%">Net Amount:</td>
                                                <td width="20%">... ... ...</td>
                                                <td width="15%">{{accept.net_amount}}</td>
                                                <td width="50%"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">Freight Charge:</td>
                                                <td width="20%">... ... ...</td>
                                                <td width="15%">{{accept.freight_charge}}</td>
                                                <td width="50%"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">Convenience:</td>
                                                <td width="20%">... ... ...</td>
                                                <td width="15%">{{accept.convenience}}</td>
                                                <td width="50%"></td>
                                            </tr>
                                            <tr>
                                                <td width="15%">
                                                    <h5>Summary:</h5>
                                                </td>
                                                <td width="20%">... ... ...</td>
                                                <td width="15%">
                                                    <h5>{{accept.purchase_cost}}</h5>
                                                </td>
                                                <td width="50%"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="print()" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #changeSupplierModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="catDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="purchaseInfo">
            <div class="modal-header">
                <button class="close" aria-label="Close" (click)="closeSuppModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widgets">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="supplier" class="control-label">Search Supplier</label>
                                <div>
                                    <search-typeahead [clearField]="isClear" [items]="supplierList" (dataLoader)="supplierSearchTerm$.next($event)" (selectedLoader)="getSelectedSupplier($event)"></search-typeahead>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div *ngFor="let alert of alerts">
                            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default" (click)="changeSupp()" data-dismiss="modal">Change</button>
            </div>
        </div>
    </div>
</div>


<div bsModal #actionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="print-section">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Update Purchase Status</h3>
                        </div>
                        <div class="col-md-4">
                            <button class="close pull-right" aria-label="Close" (click)="actionModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="widgets">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="is_enabled">Out of Stock</label>
                                    <ui-switch name="is_out_of_stock" class="form-control" [(ngModel)]="status.is_out_of_stock" (ngModelChange)="statusChange('out_of_stock')"></ui-switch>
                                </div>
                                <div class="form-group">
                                    <label for="is_out_of_print">Out of Print</label>
                                    <ui-switch name="is_out_of_print" class="form-control" [(ngModel)]="status.is_out_of_print" (ngModelChange)="statusChange('out_of_print')"></ui-switch>
                                </div>
                                <div class="form-group">
                                    <label for="is_info_delay">Info Delay</label>
                                    <ui-switch name="is_info_delay" class="form-control" [(ngModel)]="status.is_info_delay" (ngModelChange)="statusChange('info_delay')"></ui-switch>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="arrives_in_stock">Arrives In</label>
                                    <input type="number" name="arrives_in_stock" class="form-control" [(ngModel)]="status.arrives_in_stock" (ngModelChange)="statusChange('out_of_stock')">
                                </div>
                                <div class="form-group">
                                    <br><br><br><br><br><br>
                                </div>
                                <div class="form-group">
                                    <label for="is_enabled">Delay for</label>
                                    <input type="number" name="info_delayed" class="form-control" [(ngModel)]="status.info_delayed" (ngModelChange)="statusChange('info_delay')">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="is_enabled">Comment <span style="color:red;">*</span></label>
                            <textarea name="comment" class="form-control" [(ngModel)]="status.comment"></textarea>
                        </div>
                        <div>
                            <button [disabled]="res_pending" class="btn btn-primary" (click)="submitPrInfo()">Submit</button>
                            <spinner *ngIf="res_pending" [tickness]="1" [size]="20"></spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>