<style>
        .default-content img {
            width: 100%;
            height: auto;
        }
    
        .default-content {
            text-align: justify;
            height: auto !important;
        }
    </style>
<section class="margintop30 marginbottm30">
    <div class="container busy-loading">
        <div class="default-content" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, minDuration: 200}">
            <div [innerHTML]="content_object?.content"></div>
        </div>
    </div>
</section>