<section class="margintop30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul id="breadcrumbs-two">
                    <li><a [ngClass]="{'current': (active_route.trim()=='/billing/cart' || active_route.trim()=='/billing/shipping' || active_route.trim()=='/billing/payment')}"> {{'Start' | translate}} </a></li>
                    <li><a [ngClass]="{'current': (active_route.trim()=='/billing/shipping' || active_route.trim()=='/billing/payment' )}"> {{'Address' | translate}} </a></li>
                    <li><a [ngClass]="{'current': (active_route.trim()=='/billing/payment' )}"> {{'Payment' | translate}} </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>