<div class="widgets">
    <div class="row">
        <div class="col-md-6">
            <ba-card title="Edit Length Class" baCardClass="with-scroll">
                <form [formGroup]="form" (ngSubmit)="editDirectPay()">
                    <div class="form-group" [ngClass]="{'has-error': (!form.controls['name'].valid && form.controls['name'].touched), 'has-success': (form.controls['name'].valid && form.controls['name'].touched)}">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" [formControl]="form.controls['name']" placeholder="Name">
                        <span *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="help-block sub-little-text">name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="is_enabled">Active</label>
                        <ui-switch name="is_enabled" class="form-control" [formControl]="form.controls['is_enabled']"></ui-switch>
                    </div>
                    <button [disabled]="!form.valid" type="submit" class="btn btn-warning">Edit Length Class</button>
                </form>
            </ba-card>
        </div>
    </div>
</div>