<div class="widgets">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div baCardBlur class="animated fadeIn card with-scroll" zoom-in>
                <div class="card-header clearfix">
                    <div class="card-title">
                        <i [routerLink]="['add']" class="add-icon ion-plus-round"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="horizontal-scroll">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" [ngClass]="{
                                'btn':true,
                                'btn-secondary': true,
                                'active-status': homeblock.active
                            }" (click)="changeStatus('active')">Actives</button>
                            <button type="button" [ngClass]="{
                                'btn':true,
                                'btn-secondary': true,
                                'active-status': homeblock.in_active
                            }" (click)="changeStatus('in_active')">In Actives</button>
                            <button type="button" [ngClass]="{
                                'btn':true,
                                'btn-secondary': true,
                                'active-status': homeblock.all
                            }" (click)="changeStatus('all')">All</button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-hover">
                            <thead>
                                <tr class="black-muted-bg">
                                    <th class="table-id">#</th>
                                    <th>Thumbnail</th>
                                    <th>Priority</th>
                                    <th>URL</th>
                                    <th>Active</th>
                                    <th class="align-right">Edit</th>
                                    <th class="align-right">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let homeblock of homeblocks | async; let i = index" class="no-top-border">
                                    <td class="table-id">{{i + 1}}</td>
                                    <td>
                                        <img style="width: 50px; height: 48px; border-radius: 57%; border-style: none;" src="/image/homeblock/{{homeblock.homeblock_thumbnail_path}}" onerror="this.src='assets/img/theme/book-no-photo.jpg';"
                                            alt="">
                                    </td>
                                    <td>{{homeblock.priority}}</td>
                                    <td>
                                        {{homeblock.click_url? homeblock.click_url: "No Url Provided"}}
                                    </td>
                                    <td>
                                        {{homeblock.is_enabled? "Yes": "No"}}
                                    </td>
                                    <td class="align-right">
                                        <button class="btn btn-success" [routerLink]="['edit', homeblock._id]">Edit</button>
                                    </td>
                                    <td class="align-right">
                                        <button class="btn btn-success" (click)="delete(homeblock._id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Homeblock Delete Modal -->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="catDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" (click)="deleteModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Homeblock</h4>
            </div>

            <div class="modal-body">
                Are you sure you want to delete this homeblock?
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary confirm-btn" (click)="deleteHomeblock()">Ok</button>
            </div>
        </div>
    </div>
</div>