<div class="widgets">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<ba-card title="Add Homeblock" baCardClass="with-scroll">
				<form>
					<div class="form-group">
						<label for="name">Homeblock Title</label>
						<input type="text" class="form-control" name="title" [(ngModel)]="homeblock.title">
					</div>

					<div class="form-group">
						<label for="name">Homeblock URL</label>
						<input type="text" class="form-control" name="homeblock_url" [(ngModel)]="homeblock.homeblock_url">
					</div>

					<div class="form-group">
						<label for="name">Expiry Date</label>
						<input type="date" class="form-control" name="expiry_date" [(ngModel)]="homeblock.expiry_date">
					</div>

					<div class="form-group">
						<label for="priority">Priority</label>
						<input type="number" class="form-control" name="priority" [(ngModel)]="homeblock.priority">
					</div>
					<div class="form-group">
						<label for="name">Active</label>
						<ui-switch class="form-control" name="is_enabled" [(ngModel)]="homeblock.is_enabled"></ui-switch>
					</div>
					<div class="form-group">
						<ba-card title="Thumbnail" baCardClass="with-scroll">
							<ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions" (onUploadCompleted)="imageUploaded($event)"></ba-picture-uploader>
						</ba-card>
					</div>
					<button type="submit" class="btn btn-warning" (click)="addHomeblock()">Add Homeblock</button>
				</form>
			</ba-card>
		</div>
	</div>
</div>
