.typeahead-ul2 ul{ display: block;top: 98.8%;left: 0%; width: 100%;}
.type_head_drop1{ min-width: 30%; display: block;}
li{ border-bottom: 1px solid #1361b1 ;font-size: 18px; margin-left: 8px; margin-right: 8px;}
.hint img{ width: 64%;border: 1px solid white;}
.result-name{ padding: 15px 0 !important; font-size: 15px; color:#747474 ;}
.search_details{font-size: 15px; color:#747474 ;padding: 15px 0 !important;}
.type_head_drop1{position: static;}
.type_head_drop1 li{ cursor: pointer;} 
.checkbox-style{padding: 15px;};
.att-sltd ul li{border-bottom: 0px!important; font-size: 12px;}
.multi-item{padding: 12px; margin-left: 50px;}