.date-picker{
    float: left;
    max-width: 220px;
    margin-bottom: 15px;
    border-color: #26c6da;
  }

  .range-calender{
    font-size: 31px !important;
    margin-left: -31px !important;
    color: #26c6da;
    cursor: pointer;
  }