<div class="widgets">
    <div class="row">
        <div class="col-md-6">
            <ba-card title="Edit Currency" baCardClass="with-scroll">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" type="text" class="form-control" [(ngModel)]="currentCurrency.title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input name="code" type="text" class="form-control" [(ngModel)]="currentCurrency.code" placeholder="Code">
                    </div>
                    <div class="form-group">
                        <label for="symbol_left">Symbol Left</label>
                        <input name="symbol_left" type="text" class="form-control" [(ngModel)]="currentCurrency.symbol_left" placeholder="Symbol Left">
                    </div>
                    <div class="form-group">
                        <label for="symbol_right">Symbol Right</label>
                        <input name="symbol_right" type="text" class="form-control" [(ngModel)]="currentCurrency.symbol_right" placeholder="Symbol Right">
                    </div>
                    <div class="form-group">
                        <label for="value">Value</label>
                        <input name="value" type="text" class="form-control" [(ngModel)]="currentCurrency.value" placeholder="Value">
                    </div>
                    <div class="form-group">
                        <label for="decimal_place">Decimal Place</label>
                        <input name="decimal_place" type="text" class="form-control" [(ngModel)]="currentCurrency.decimal_place" placeholder="Decimal Place">
                    </div>
                    <div class="form-group">
                        <label for="order">Order</label>
                        <input name="order" type="tel" class="form-control" [(ngModel)]="currentCurrency.order" placeholder="Order">
                    </div>
                    <div class="form-group">
                        <label for="is_enabled">Active</label>
                        <ui-switch name="is_enabled" class="form-control" [(ngModel)]="currentCurrency.is_enabled"></ui-switch>
                    </div>
                    <button type="submit" class="btn btn-warning" (click)="editCurrency()">Edit Currency</button>
                </form>
            </ba-card>
        </div>
    </div>
</div>