<!-- book specification start -->
<div class="book-details-section-area-all">
    <div class="book-specification-section">
        <div class="book-details-section">
            <h2> Book Specification </h2>
        </div>
    </div>
    <div class="book-details-section-inline">
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellLeft"> Title </span>
        </div>
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellRight">Name of the </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="book-details-section-inline">
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellLeft"> Title </span>
        </div>
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellRight">Name of the </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="book-details-section-inline">
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellLeft"> Title </span>
        </div>
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellRight">Name of the </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="book-details-section-inline">
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellLeft"> Title </span>
        </div>
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellRight">Name of the </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="book-details-section-inline">
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellLeft"> Title </span>
        </div>
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellRight">Name of the </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="book-details-section-inline">
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellLeft"> Title </span>
        </div>
        <div class="ct-u-displayTableCell">
            <span class="ct-u-displayCulmanCellRight">Name of the </span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /book specification -->