<section>
    <div class="container">
        <div *ngIf="!is_success" class="row">
            <div class="wrapper">
                <form *ngIf="!show_code_submit_part" class="password-reset" (ngSubmit)="sendEmail(email)">
                    <h2 class="password-reset-heading">{{'enter_email_phone' | translate}}</h2>
                    <input type="text" class="form-control" name="username" [(ngModel)]="email" (ngModelChange)="validate(email)" placeholder="Email or Phone"
                        required="" autofocus="" />
                    <span *ngIf="!valid" style="color:red">{{'invalid_email_phone' | translate}}</span>
                    <br>
                    <br>
                    <spinner *ngIf="res_pending" [tickness]="1" [size]="20"></spinner>
                    <button class="btn btn-lg btn-primary btn-block" [disabled]="!email || !valid || res_pending" type="submit">{{'submit' | translate}}</button>
                    <br>
                    <br>
                    <span style="color:red">{{httpMessage}}</span>
                </form>
                <form *ngIf="show_code_submit_part && !validRecoveryCode" class="password-reset" (ngSubmit)="verifyCode()">
                    <div class="form-group-defult">
                        <input [(ngModel)]="vrification.code" type="text" class="form-control" name="code" id="code" placeholder="Code" required>
                        <span *ngIf="vrification.code && vrification.code?.length<6" class="help-block sub-little-text ">Invalid Code</span>
                    </div>
                    <div class="form-group-defult">
                        <label for="resend_code">Did not recieve code?</label>
                        <a class="sinup-success" (click)="resendCode()">
                            <span *ngIf="can_resend" class="hand_cursor">Resend Code</span>
                        </a>
                        <span *ngIf="!can_resend" class="hand_cursor">Wait {{wait_timer}} Sec.</span>
                    </div>
                    <div class="margintop20 marginbuttom10 ">
                        <button type="submit" [disabled]="!vrification.code || vrification.code?.length<6" class="form-control btn btn-default sign-button">
                            Submit Code </button>
                    </div>
                    <div *ngIf="!validRecoveryCode" class="form-group-defult">
                        <p style="color:red">
                            {{httpMessage}}
                        </p>
                    </div>
                </form>

                <form *ngIf="validRecoveryCode" class="password-reset" (ngSubmit)="updatePassword()">
                    <h2 class="password-reset-heading"> {{'password_reset' | translate}}</h2>
                    <input type="password" class="form-control" name="reset.password" (focus)="reset.repeatPassword=''; valid=false" [(ngModel)]="reset.password"
                        placeholder="Password" required="" autofocus="" />
                    <span *ngIf="reset.password && reset.password.length<6" style="color:red">{{'password_length_error' | translate}}</span>
                    <br>
                    <input type="password" class="form-control" name="repeatPassword" [(ngModel)]="reset.repeatPassword" (ngModelChange)="validatePass(reset)"
                        placeholder="Retype Password" required="" autofocus="" />
                    <span *ngIf="reset.repeatPassword && !valid" style="color:red">{{'password_match' | translate}}</span>
                    <br>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" [disabled]="!valid || res_pending" type="submit">{{'submit' | translate}}</button>
                    <spinner *ngIf="res_pending" [tickness]="1" [size]="20"></spinner>
                </form>

            </div>
        </div>
        <div *ngIf="is_success" class="row">
            <div class="wrapper">
                <form class="password-reset">
                    {{httpMessage}}
                </form>
            </div>
        </div>
    </div>
</section>